.title{
    text-align: center;
}
.subtitle{
    text-align: center;
    color: black;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input{
    width: 80%;
}
.paper{
    align-items: center;
    display: flex;
    min-width: 400px;
    width: 30%;
    flex-direction: column;
    padding: 10px;
    display:block;
    margin:0px auto;
    text-align:center;
}
.bottone{
    justify-content: flex-end;
    padding: 10;
    /* margin-right: 5px; */
    /* margin-bottom: 10px; */
}
.centro {
    display:block;
    margin:0px auto;
    text-align:center;
    }